.App {
  background-image: url("/Users/afra/Documents/HPC/INFINITAI/infinitai-frontend/public/_d81196e1-1c91-44c8-85a7-12f4201e33e2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

html, body {
  /* margin: 0; Removes default margin */
  /* padding: 0; Removes default padding */
  height: 100%; /* Ensures full height */
}
